{% extends "layout.html" %}

{% block title %}
Learner
{% endblock %}

{% block content %}
<div class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Learners Page</h1>
        <p class="text-lg text-gray-700 mb-8">Welcome to the Learners page where you can find information and resources tailored for learners.</p>
        
        <!-- Container for books -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <h3>{{book.name}}</h3>
        <p>{{book.description}}</p>
        </div>
    </div>
</div>
{% endblock %}
