{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Learning Django
        {% endblock %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}}">
    {% tailwind_css %}
 </head>
 <body class="min-h-screen">
   <main style="flex: 1 0 auto;">
      <nav class="py-4 text-center"><h1 class="text-3xl">This is Our Navbar</h1></nav>
      {% block content %}{% endblock  %}
   </main>

 </body>
 </html>